* {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 60px;
  /* background-color: #DFD0B8; */
  margin-bottom: 50px;
  border-radius: 5px;
}

.title {
  padding: 10px;
    font-size: 32px;
    color: #3C5B6F;
}

h1, h3, p {
  color: #3C5B6F;
}

.card {
  margin-bottom: 10px;
}

.img {
  width: 100%;
  background-color: black;
  height: 400px;
}
.card-img-top {
    width: 100%;
    height: 100%;
}

.box {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  align-items: center center;
}

.card-body a {
  color: #DFD0B8;
  align-items: center;
  background-color: #3C5B6F;
}

.about {
  margin-top:60px ;
  text-align: center;
}